.cutout{
  width: 75vw;
  max-width: 50vh;
}

.about-me-icons{
  width: 50%;
}

.icon-styling{
  color: black;
}

i {
  color: #000000;
}

.dev-icon-div{
  padding: 30px;
}

.dev-icon{
  min-width: 100px;
  width: 100px;
  height: 100px;
}

@media screen
  and (min-width: 768px)
 {
   .dev-icon{
     min-width: 150px;
     width: 150px;
     height: 150px
   }
}
