.cutout{
  width: 75vw;
  max-width: 50vh;
}

.about-me-icons{
  width: 50%;
}

.icon-styling{
  color: black;
}

i {
  color: #000000;
}

.dev-icon-div{
  padding: 30px;
}

.dev-icon{
  min-width: 100px;
  width: 100px;
  height: 100px;
}

.app-card{
  margin-left: 20px;
  margin-right: 20px;
}

footer{
  min-height: 99vh;
}

.footer-content{
  min-height: 90vh;
}

.contact-text a {
  color: black;
}

.contact-text a:hover {
  color: blue;
}

.component{
  min-height: 90vh;
}

.contact-icon{
  margin-right: 5px;
}

.tech-item{

  font-size: small;
  background-color: cadetblue;
}

@media screen
  and (min-width: 768px)
 {
   .dev-icon{
     min-width: 150px;
     width: 150px;
     height: 150px
   }
}
